  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">amal@gmail.com</a>
        <i class="bi bi-phone"></i> +216 71 000 000
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a rooterlink="/Acceuil"><img src="assets/img/logo-amal.png" alt="" class="img-fluid"style="width:70px;height:70px;"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a class="nav-link scrollto active" routerLink="/home">Acceuil</a></li>
          <!-- gestion d'aide -->
          
          <li class="dropdown">
            <a routerLink="#">
              <span>Aide</span>
               <i class="bi bi-chevron-down"></i>
              </a>
            <ul>
              <li><a routerLink="">Liste des aides</a></li>
              <li><a routerLink="">Gérer un aide</a></li>
  
            </ul>
          </li>
          <!-- gestion formation -->
          
          <li class="dropdown">
            <a routerLink="#">
              <span>Formation</span>
               <i class="bi bi-chevron-down"></i>
              </a>
            <ul>
              <li><a routerLink="/ListeFormation">Liste des formations</a></li>
              <li><a routerLink="/FormulaireFormation">Gérer une formation</a></li>
  
  
            </ul>
          </li>
          <!-- gestion de dons -->
          
          <li class="dropdown">
            <a routerLink="#">
              <span>Dons</span>
               <i class="bi bi-chevron-down"></i>
              </a>
            <ul>
              <li><a routerLink="#">formulaire</a></li>
              <li><a routerLink="#">liste</a></li>
  
            </ul>
          </li>
          <!-- gestion boutique -->
           
            <li class="dropdown">
              <a routerLink="#">
                <span>Boutique</span>
                 <i class="bi bi-chevron-down"></i>
                </a>
              <ul>
                <li><a routerLink="#">formulaire</a></li>
                <li><a routerLink="#">liste</a></li>
    
              </ul>
            </li>
           
          <!-- gestion emplois -->
          <li class="dropdown">
            <a routerLink="#">
              <span>Emplois</span>
               <i class="bi bi-chevron-down"></i>
              </a>
            <ul>
              <li><a routerLink="#">formulaire</a></li>
              <li><a routerLink="#">liste</a></li>
  
            </ul>
          </li>
        
          <li class="dropdown"><a class="nav-link scrollto" routerLink="/CONNEXION">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    
      <a href="#appointment" class="appointment-btn scrollto">
        <span class="d-none d-md-inline"> CONNEXION</span>
      
      </a>
        
      
      
      
   
    </div>
  </header>
  <!-- End Header -->
